body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}



.noticias{
    background-color: darkseagreen;
    display: flex;
    
}

.contenerdor_noticia{
    width: 98%;
    display: flex;
    display: inline-flex;
    margin-bottom: 20px;
               
}

.contenedor{
    /* width: 98%; */
    text-align: justify;
    justify-content: space-evenly;
    }

.imagen_noticia{
    margin: 10px 0;
    max-width: 300px;
    max-height: 200px;
    padding: 0 20px;
    
}

