.body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.servicios{
    background-color: sandybrown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: seashell;
    display:flex;
    justify-content: space-evenly;
    text-align: center;

    
   
}

.servicios__contenedor >a:hover{
    font-size: 20px;
    text-decoration: double;
    color: seashell;
     
    
}

.img{
    height: auto;
    width: auto;
    max-width: 390px;
    max-height: 390px;
    margin: 1.5px;
    
    }

